<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">



    <jee:jndi-lookup id="configurationPath" jndi-name="java:comp/env/config/mongoConfigurationPath"                      
                     default-value="classpath:mongo.properties"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location"  ref="configurationPath"/>
    </bean>

    <bean id="guiceModule" class="com.thalesgroup.dtkit.ws.rs.services.GuiceModule">
        <constructor-arg index="0" value="${mongo.host}"/>
        <constructor-arg index="1" value="${mongo.port}"/>
        <constructor-arg index="2" value="${mongo.dbname}"/>
    </bean>

</beans>