Redirect 302 /latest/hudson.war http://hudson-ci.org/download/war/1.363/hudson.war
Redirect 302 /latest/debian/hudson.deb http://pkg.hudson-labs.org/debian/binary/hudson_1.363_all.deb
Redirect 302 /latest/redhat/hudson.rpm http://pkg.hudson-labs.org/redhat/RPMS/noarch/hudson-1.363-1.1.noarch.rpm
Redirect 302 /latest/opensuse/hudson.rpm http://pkg.hudson-labs.org/opensuse/RPMS/noarch/hudson-1.363-1.1.noarch.rpm
Redirect 302 /latest/SCTMExecutor.hpi http://hudson-ci.org/download/plugins/SCTMExecutor/1.5.1/SCTMExecutor.hpi
Redirect 302 /latest/Schmant.hpi http://hudson-ci.org/download/plugins/Schmant/1.1.4/Schmant.hpi
Redirect 302 /latest/URLSCM.hpi http://hudson-ci.org/download/plugins/URLSCM/1.5/URLSCM.hpi
Redirect 302 /latest/accurev.hpi http://hudson-ci.org/download/plugins/accurev/0.6.11/accurev.hpi
Redirect 302 /latest/active-directory.hpi http://hudson-ci.org/download/plugins/active-directory/1.16/active-directory.hpi
Redirect 302 /latest/analysis-collector.hpi http://hudson-ci.org/download/plugins/analysis-collector/1.6/analysis-collector.hpi
Redirect 302 /latest/analysis-core.hpi http://hudson-ci.org/download/plugins/analysis-core/1.10/analysis-core.hpi
Redirect 302 /latest/android-emulator.hpi http://hudson-ci.org/download/plugins/android-emulator/1.2/android-emulator.hpi
Redirect 302 /latest/artifactory.hpi http://hudson-ci.org/download/plugins/artifactory/1.1.0/artifactory.hpi
Redirect 302 /latest/audit-trail.hpi http://hudson-ci.org/download/plugins/audit-trail/1.4/audit-trail.hpi
Redirect 302 /latest/backlog.hpi http://hudson-ci.org/download/plugins/backlog/1.1/backlog.hpi
Redirect 302 /latest/backup.hpi http://hudson-ci.org/download/plugins/backup/1.4.1/backup.hpi
Redirect 302 /latest/bamboo-notifier.hpi http://hudson-ci.org/download/plugins/bamboo-notifier/1.1/bamboo-notifier.hpi
Redirect 302 /latest/batch-task.hpi http://hudson-ci.org/download/plugins/batch-task/1.13/batch-task.hpi
Redirect 302 /latest/bazaar.hpi http://hudson-ci.org/download/plugins/bazaar/1.6/bazaar.hpi
Redirect 302 /latest/bitkeeper.hpi http://hudson-ci.org/download/plugins/bitkeeper/1.5/bitkeeper.hpi
Redirect 302 /latest/blame-upstream-commiters.hpi http://hudson-ci.org/download/plugins/blame-upstream-commiters/1.1/blame-upstream-commiters.hpi
Redirect 302 /latest/bruceschneier.hpi http://hudson-ci.org/download/plugins/bruceschneier/0.1/bruceschneier.hpi
Redirect 302 /latest/buckminster.hpi http://hudson-ci.org/download/plugins/buckminster/1.0.3/buckminster.hpi
Redirect 302 /latest/bugzilla.hpi http://hudson-ci.org/download/plugins/bugzilla/1.4/bugzilla.hpi
Redirect 302 /latest/build-publisher.hpi http://hudson-ci.org/download/plugins/build-publisher/1.8/build-publisher.hpi
Redirect 302 /latest/build-timeout.hpi http://hudson-ci.org/download/plugins/build-timeout/1.6/build-timeout.hpi
Redirect 302 /latest/campfire.hpi http://hudson-ci.org/download/plugins/campfire/1.1/campfire.hpi
Redirect 302 /latest/cas1.hpi http://hudson-ci.org/download/plugins/cas1/1.0.1/cas1.hpi
Redirect 302 /latest/cccc.hpi http://hudson-ci.org/download/plugins/cccc/0.3/cccc.hpi
Redirect 302 /latest/changelog-history.hpi http://hudson-ci.org/download/plugins/changelog-history/1.1/changelog-history.hpi
Redirect 302 /latest/checkstyle.hpi http://hudson-ci.org/download/plugins/checkstyle/3.8/checkstyle.hpi
Redirect 302 /latest/chucknorris.hpi http://hudson-ci.org/download/plugins/chucknorris/0.4/chucknorris.hpi
Redirect 302 /latest/ci-game.hpi http://hudson-ci.org/download/plugins/ci-game/1.17/ci-game.hpi
Redirect 302 /latest/claim.hpi http://hudson-ci.org/download/plugins/claim/1.7/claim.hpi
Redirect 302 /latest/clearcase.hpi http://hudson-ci.org/download/plugins/clearcase/1.2.1/clearcase.hpi
Redirect 302 /latest/clearcase-release.hpi http://hudson-ci.org/download/plugins/clearcase-release/0.1/clearcase-release.hpi
Redirect 302 /latest/clearcase-ucm-baseline.hpi http://hudson-ci.org/download/plugins/clearcase-ucm-baseline/1.5.1/clearcase-ucm-baseline.hpi
Redirect 302 /latest/clone-workspace-scm.hpi http://hudson-ci.org/download/plugins/clone-workspace-scm/0.2/clone-workspace-scm.hpi
Redirect 302 /latest/clover.hpi http://hudson-ci.org/download/plugins/clover/3.0.1/clover.hpi
Redirect 302 /latest/cmakebuilder.hpi http://hudson-ci.org/download/plugins/cmakebuilder/1.5/cmakebuilder.hpi
Redirect 302 /latest/cmvc.hpi http://hudson-ci.org/download/plugins/cmvc/0.3/cmvc.hpi
Redirect 302 /latest/cobertura.hpi http://hudson-ci.org/download/plugins/cobertura/0.8.11/cobertura.hpi
Redirect 302 /latest/codescanner.hpi http://hudson-ci.org/download/plugins/codescanner/0.10/codescanner.hpi
Redirect 302 /latest/collabnet.hpi http://hudson-ci.org/download/plugins/collabnet/1.1.5/collabnet.hpi
Redirect 302 /latest/compact-columns.hpi http://hudson-ci.org/download/plugins/compact-columns/1.1/compact-columns.hpi
Redirect 302 /latest/configurationslicing.hpi http://hudson-ci.org/download/plugins/configurationslicing/1.16/configurationslicing.hpi
Redirect 302 /latest/copy-to-slave.hpi http://hudson-ci.org/download/plugins/copy-to-slave/1.2/copy-to-slave.hpi
Redirect 302 /latest/copyarchiver.hpi http://hudson-ci.org/download/plugins/copyarchiver/0.5/copyarchiver.hpi
Redirect 302 /latest/copyartifact.hpi http://hudson-ci.org/download/plugins/copyartifact/1.7/copyartifact.hpi
Redirect 302 /latest/cppcheck.hpi http://hudson-ci.org/download/plugins/cppcheck/0.10/cppcheck.hpi
Redirect 302 /latest/cppncss.hpi http://hudson-ci.org/download/plugins/cppncss/1.0-beta-5/cppncss.hpi
Redirect 302 /latest/cpptest.hpi http://hudson-ci.org/download/plugins/cpptest/0.4/cpptest.hpi
Redirect 302 /latest/cppunit.hpi http://hudson-ci.org/download/plugins/cppunit/1.4/cppunit.hpi
Redirect 302 /latest/crap4j.hpi http://hudson-ci.org/download/plugins/crap4j/0.7/crap4j.hpi
Redirect 302 /latest/createjobadvanced.hpi http://hudson-ci.org/download/plugins/createjobadvanced/1.4/createjobadvanced.hpi
Redirect 302 /latest/cron_column.hpi http://hudson-ci.org/download/plugins/cron_column/1.002/cron_column.hpi
Redirect 302 /latest/crowd.hpi http://hudson-ci.org/download/plugins/crowd/1.1/crowd.hpi
Redirect 302 /latest/cvs.hpi http://hudson-ci.org/download/plugins/cvs/1.1/cvs.hpi
Redirect 302 /latest/cvs-tag.hpi http://hudson-ci.org/download/plugins/cvs-tag/1.5/cvs-tag.hpi
Redirect 302 /latest/cygpath.hpi http://hudson-ci.org/download/plugins/cygpath/1.3/cygpath.hpi
Redirect 302 /latest/dashboard-view.hpi http://hudson-ci.org/download/plugins/dashboard-view/1.6/dashboard-view.hpi
Redirect 302 /latest/dbCharts.hpi http://hudson-ci.org/download/plugins/dbCharts/0.3/dbCharts.hpi
Redirect 302 /latest/dependencyanalyzer.hpi http://hudson-ci.org/download/plugins/dependencyanalyzer/0.5/dependencyanalyzer.hpi
Redirect 302 /latest/deploy.hpi http://hudson-ci.org/download/plugins/deploy/1.5/deploy.hpi
Redirect 302 /latest/deploy-websphere.hpi http://hudson-ci.org/download/plugins/deploy-websphere/1.0/deploy-websphere.hpi
Redirect 302 /latest/description-setter.hpi http://hudson-ci.org/download/plugins/description-setter/1.6/description-setter.hpi
Redirect 302 /latest/dimensionsscm.hpi http://hudson-ci.org/download/plugins/dimensionsscm/0.7.7/dimensionsscm.hpi
Redirect 302 /latest/disk-usage.hpi http://hudson-ci.org/download/plugins/disk-usage/0.11/disk-usage.hpi
Redirect 302 /latest/distfork.hpi http://hudson-ci.org/download/plugins/distfork/1.0/distfork.hpi
Redirect 302 /latest/doclinks.hpi http://hudson-ci.org/download/plugins/doclinks/0.3/doclinks.hpi
Redirect 302 /latest/dos-trigger.hpi http://hudson-ci.org/download/plugins/dos-trigger/1.0/dos-trigger.hpi
Redirect 302 /latest/downstream-buildview.hpi http://hudson-ci.org/download/plugins/downstream-buildview/1.4/downstream-buildview.hpi
Redirect 302 /latest/downstream-ext.hpi http://hudson-ci.org/download/plugins/downstream-ext/1.6/downstream-ext.hpi
Redirect 302 /latest/doxygen.hpi http://hudson-ci.org/download/plugins/doxygen/0.6/doxygen.hpi
Redirect 302 /latest/drools.hpi http://hudson-ci.org/download/plugins/drools/0.1/drools.hpi
Redirect 302 /latest/dry.hpi http://hudson-ci.org/download/plugins/dry/2.8/dry.hpi
Redirect 302 /latest/easyant.hpi http://hudson-ci.org/download/plugins/easyant/1.1/easyant.hpi
Redirect 302 /latest/ec2.hpi http://hudson-ci.org/download/plugins/ec2/1.8/ec2.hpi
Redirect 302 /latest/email-ext.hpi http://hudson-ci.org/download/plugins/email-ext/2.5/email-ext.hpi
Redirect 302 /latest/emma.hpi http://hudson-ci.org/download/plugins/emma/1.20/emma.hpi
Redirect 302 /latest/emotional-hudson.hpi http://hudson-ci.org/download/plugins/emotional-hudson/1.2/emotional-hudson.hpi
Redirect 302 /latest/envfile.hpi http://hudson-ci.org/download/plugins/envfile/1.0/envfile.hpi
Redirect 302 /latest/exclusive-execution.hpi http://hudson-ci.org/download/plugins/exclusive-execution/0.2/exclusive-execution.hpi
Redirect 302 /latest/extended-read-permission.hpi http://hudson-ci.org/download/plugins/extended-read-permission/1.0/extended-read-permission.hpi
Redirect 302 /latest/files-found-trigger.hpi http://hudson-ci.org/download/plugins/files-found-trigger/1.1.2/files-found-trigger.hpi
Redirect 302 /latest/filesystem_scm.hpi http://hudson-ci.org/download/plugins/filesystem_scm/1.8/filesystem_scm.hpi
Redirect 302 /latest/findbugs.hpi http://hudson-ci.org/download/plugins/findbugs/4.11/findbugs.hpi
Redirect 302 /latest/fitnesse.hpi http://hudson-ci.org/download/plugins/fitnesse/1.4/fitnesse.hpi
Redirect 302 /latest/fortify360.hpi http://hudson-ci.org/download/plugins/fortify360/1.4/fortify360.hpi
Redirect 302 /latest/ftppublisher.hpi http://hudson-ci.org/download/plugins/ftppublisher/1.0/ftppublisher.hpi
Redirect 302 /latest/gallio.hpi http://hudson-ci.org/download/plugins/gallio/0.70/gallio.hpi
Redirect 302 /latest/gant.hpi http://hudson-ci.org/download/plugins/gant/1.2/gant.hpi
Redirect 302 /latest/gcal.hpi http://hudson-ci.org/download/plugins/gcal/0.3/gcal.hpi
Redirect 302 /latest/gerrit.hpi http://hudson-ci.org/download/plugins/gerrit/0.4/gerrit.hpi
Redirect 302 /latest/girls.hpi http://hudson-ci.org/download/plugins/girls/1.0.0/girls.hpi
Redirect 302 /latest/git.hpi http://hudson-ci.org/download/plugins/git/0.9/git.hpi
Redirect 302 /latest/github.hpi http://hudson-ci.org/download/plugins/github/0.2/github.hpi
Redirect 302 /latest/global-build-stats.hpi http://hudson-ci.org/download/plugins/global-build-stats/0.1-alpha4/global-build-stats.hpi
Redirect 302 /latest/gnat.hpi http://hudson-ci.org/download/plugins/gnat/0.3/gnat.hpi
Redirect 302 /latest/googleanalytics.hpi http://hudson-ci.org/download/plugins/googleanalytics/1.2/googleanalytics.hpi
Redirect 302 /latest/googlecode.hpi http://hudson-ci.org/download/plugins/googlecode/1.5/googlecode.hpi
Redirect 302 /latest/gradle.hpi http://hudson-ci.org/download/plugins/gradle/1.4/gradle.hpi
Redirect 302 /latest/grails.hpi http://hudson-ci.org/download/plugins/grails/1.3/grails.hpi
Redirect 302 /latest/greenballs.hpi http://hudson-ci.org/download/plugins/greenballs/1.6/greenballs.hpi
Redirect 302 /latest/grinder.hpi http://hudson-ci.org/download/plugins/grinder/1.4/grinder.hpi
Redirect 302 /latest/groovy.hpi http://hudson-ci.org/download/plugins/groovy/1.4/groovy.hpi
Redirect 302 /latest/groovy-postbuild.hpi http://hudson-ci.org/download/plugins/groovy-postbuild/1.3/groovy-postbuild.hpi
Redirect 302 /latest/hadoop.hpi http://hudson-ci.org/download/plugins/hadoop/1.3/hadoop.hpi
Redirect 302 /latest/harvest.hpi http://hudson-ci.org/download/plugins/harvest/0.3/harvest.hpi
Redirect 302 /latest/hgca.hpi http://hudson-ci.org/download/plugins/hgca/1.3/hgca.hpi
Redirect 302 /latest/htmlpublisher.hpi http://hudson-ci.org/download/plugins/htmlpublisher/0.4/htmlpublisher.hpi
Redirect 302 /latest/hudson-logaction-plugin.hpi http://hudson-ci.org/download/plugins/hudson-logaction-plugin/1.1/hudson-logaction-plugin.hpi
Redirect 302 /latest/hudson-pview-plugin.hpi http://hudson-ci.org/download/plugins/hudson-pview-plugin/1.7/hudson-pview-plugin.hpi
Redirect 302 /latest/hudson-wsclean-plugin.hpi http://hudson-ci.org/download/plugins/hudson-wsclean-plugin/1.0.4/hudson-wsclean-plugin.hpi
Redirect 302 /latest/hudsontrayapp.hpi http://hudson-ci.org/download/plugins/hudsontrayapp/0.7.3/hudsontrayapp.hpi
Redirect 302 /latest/instant-messaging.hpi http://hudson-ci.org/download/plugins/instant-messaging/1.8/instant-messaging.hpi
Redirect 302 /latest/iphoneview.hpi http://hudson-ci.org/download/plugins/iphoneview/0.2/iphoneview.hpi
Redirect 302 /latest/ircbot.hpi http://hudson-ci.org/download/plugins/ircbot/2.5/ircbot.hpi
Redirect 302 /latest/ivy.hpi http://hudson-ci.org/download/plugins/ivy/1.7/ivy.hpi
Redirect 302 /latest/jabber.hpi http://hudson-ci.org/download/plugins/jabber/1.10/jabber.hpi
Redirect 302 /latest/japex.hpi http://hudson-ci.org/download/plugins/japex/1.6/japex.hpi
Redirect 302 /latest/javancss.hpi http://hudson-ci.org/download/plugins/javancss/1.0-alpha-1/javancss.hpi
Redirect 302 /latest/javanet.hpi http://hudson-ci.org/download/plugins/javanet/1.3/javanet.hpi
Redirect 302 /latest/javanet-uploader.hpi http://hudson-ci.org/download/plugins/javanet-uploader/1.7/javanet-uploader.hpi
Redirect 302 /latest/javatest-report.hpi http://hudson-ci.org/download/plugins/javatest-report/1.3/javatest-report.hpi
Redirect 302 /latest/jboss.hpi http://hudson-ci.org/download/plugins/jboss/1.0.3/jboss.hpi
Redirect 302 /latest/jdepend.hpi http://hudson-ci.org/download/plugins/jdepend/1.2.2/jdepend.hpi
Redirect 302 /latest/jira.hpi http://hudson-ci.org/download/plugins/jira/1.25/jira.hpi
Redirect 302 /latest/job-exporter.hpi http://hudson-ci.org/download/plugins/job-exporter/0.1.0/job-exporter.hpi
Redirect 302 /latest/jobConfigHistory.hpi http://hudson-ci.org/download/plugins/jobConfigHistory/1.5/jobConfigHistory.hpi
Redirect 302 /latest/jobrevision.hpi http://hudson-ci.org/download/plugins/jobrevision/0.2/jobrevision.hpi
Redirect 302 /latest/jobtype-column.hpi http://hudson-ci.org/download/plugins/jobtype-column/1.0/jobtype-column.hpi
Redirect 302 /latest/join.hpi http://hudson-ci.org/download/plugins/join/1.8/join.hpi
Redirect 302 /latest/jsunit.hpi http://hudson-ci.org/download/plugins/jsunit/0.4/jsunit.hpi
Redirect 302 /latest/jswidgets.hpi http://hudson-ci.org/download/plugins/jswidgets/1.4/jswidgets.hpi
Redirect 302 /latest/junit-attachments.hpi http://hudson-ci.org/download/plugins/junit-attachments/1.0/junit-attachments.hpi
Redirect 302 /latest/jython.hpi http://hudson-ci.org/download/plugins/jython/1.1/jython.hpi
Redirect 302 /latest/kagemai.hpi http://hudson-ci.org/download/plugins/kagemai/1.3/kagemai.hpi
Redirect 302 /latest/klaros-testmanagement.hpi http://hudson-ci.org/download/plugins/klaros-testmanagement/1.1/klaros-testmanagement.hpi
Redirect 302 /latest/kundo.hpi http://hudson-ci.org/download/plugins/kundo/0.2/kundo.hpi
Redirect 302 /latest/labeled-test-groups-publisher.hpi http://hudson-ci.org/download/plugins/labeled-test-groups-publisher/1.2.6/labeled-test-groups-publisher.hpi
Redirect 302 /latest/lastfailureversioncolumn.hpi http://hudson-ci.org/download/plugins/lastfailureversioncolumn/1.0/lastfailureversioncolumn.hpi
Redirect 302 /latest/lastsuccessdescriptioncolumn.hpi http://hudson-ci.org/download/plugins/lastsuccessdescriptioncolumn/1.0/lastsuccessdescriptioncolumn.hpi
Redirect 302 /latest/lastsuccessversioncolumn.hpi http://hudson-ci.org/download/plugins/lastsuccessversioncolumn/1.0/lastsuccessversioncolumn.hpi
Redirect 302 /latest/ldapemail.hpi http://hudson-ci.org/download/plugins/ldapemail/0.6/ldapemail.hpi
Redirect 302 /latest/libvirt-slave.hpi http://hudson-ci.org/download/plugins/libvirt-slave/1.6/libvirt-slave.hpi
Redirect 302 /latest/locale.hpi http://hudson-ci.org/download/plugins/locale/1.1/locale.hpi
Redirect 302 /latest/locked-files-report.hpi http://hudson-ci.org/download/plugins/locked-files-report/1.1/locked-files-report.hpi
Redirect 302 /latest/locks-and-latches.hpi http://hudson-ci.org/download/plugins/locks-and-latches/0.6/locks-and-latches.hpi
Redirect 302 /latest/log-parser.hpi http://hudson-ci.org/download/plugins/log-parser/1.0.4/log-parser.hpi
Redirect 302 /latest/m2-extra-steps.hpi http://hudson-ci.org/download/plugins/m2-extra-steps/1.1.3/m2-extra-steps.hpi
Redirect 302 /latest/m2-repo-reaper.hpi http://hudson-ci.org/download/plugins/m2-repo-reaper/1.0/m2-repo-reaper.hpi
Redirect 302 /latest/m2release.hpi http://hudson-ci.org/download/plugins/m2release/0.4.0/m2release.hpi
Redirect 302 /latest/mantis.hpi http://hudson-ci.org/download/plugins/mantis/0.10.1/mantis.hpi
Redirect 302 /latest/matrixtieparent.hpi http://hudson-ci.org/download/plugins/matrixtieparent/1.0/matrixtieparent.hpi
Redirect 302 /latest/maven-info.hpi http://hudson-ci.org/download/plugins/maven-info/0.0.3/maven-info.hpi
Redirect 302 /latest/maven-plugin.hpi http://hudson-ci.org/download/plugins/maven-plugin/1.363/maven-plugin.hpi
Redirect 302 /latest/measurement-plots.hpi http://hudson-ci.org/download/plugins/measurement-plots/0.1/measurement-plots.hpi
Redirect 302 /latest/mercurial.hpi http://hudson-ci.org/download/plugins/mercurial/1.31/mercurial.hpi
Redirect 302 /latest/monitoring.hpi http://hudson-ci.org/download/plugins/monitoring/1.15.1/monitoring.hpi
Redirect 302 /latest/mozmill.hpi http://hudson-ci.org/download/plugins/mozmill/1.3/mozmill.hpi
Redirect 302 /latest/msbuild.hpi http://hudson-ci.org/download/plugins/msbuild/1.3/msbuild.hpi
Redirect 302 /latest/mstest.hpi http://hudson-ci.org/download/plugins/mstest/0.6/mstest.hpi
Redirect 302 /latest/mysql-auth.hpi http://hudson-ci.org/download/plugins/mysql-auth/1.0/mysql-auth.hpi
Redirect 302 /latest/nabaztag.hpi http://hudson-ci.org/download/plugins/nabaztag/1.9/nabaztag.hpi
Redirect 302 /latest/naginator.hpi http://hudson-ci.org/download/plugins/naginator/1.5/naginator.hpi
Redirect 302 /latest/nant.hpi http://hudson-ci.org/download/plugins/nant/1.4.1/nant.hpi
Redirect 302 /latest/ncover.hpi http://hudson-ci.org/download/plugins/ncover/0.3/ncover.hpi
Redirect 302 /latest/nested-view.hpi http://hudson-ci.org/download/plugins/nested-view/1.3/nested-view.hpi
Redirect 302 /latest/next-build-number.hpi http://hudson-ci.org/download/plugins/next-build-number/1.0/next-build-number.hpi
Redirect 302 /latest/nodenamecolumn.hpi http://hudson-ci.org/download/plugins/nodenamecolumn/1.1/nodenamecolumn.hpi
Redirect 302 /latest/nunit.hpi http://hudson-ci.org/download/plugins/nunit/0.10/nunit.hpi
Redirect 302 /latest/origo-issue-notifier.hpi http://hudson-ci.org/download/plugins/origo-issue-notifier/1.1/origo-issue-notifier.hpi
Redirect 302 /latest/parameterized-trigger.hpi http://hudson-ci.org/download/plugins/parameterized-trigger/2.3/parameterized-trigger.hpi
Redirect 302 /latest/perforce.hpi http://hudson-ci.org/download/plugins/perforce/1.1.3/perforce.hpi
Redirect 302 /latest/performance.hpi http://hudson-ci.org/download/plugins/performance/1.2/performance.hpi
Redirect 302 /latest/perfpublisher.hpi http://hudson-ci.org/download/plugins/perfpublisher/7.97/perfpublisher.hpi
Redirect 302 /latest/phing.hpi http://hudson-ci.org/download/plugins/phing/0.4/phing.hpi
Redirect 302 /latest/piwikanalytics.hpi http://hudson-ci.org/download/plugins/piwikanalytics/1.0/piwikanalytics.hpi
Redirect 302 /latest/platformlabeler.hpi http://hudson-ci.org/download/plugins/platformlabeler/1.1/platformlabeler.hpi
Redirect 302 /latest/plot.hpi http://hudson-ci.org/download/plugins/plot/1.2/plot.hpi
Redirect 302 /latest/pmd.hpi http://hudson-ci.org/download/plugins/pmd/3.8/pmd.hpi
Redirect 302 /latest/polarion.hpi http://hudson-ci.org/download/plugins/polarion/1.2/polarion.hpi
Redirect 302 /latest/port-allocator.hpi http://hudson-ci.org/download/plugins/port-allocator/1.5/port-allocator.hpi
Redirect 302 /latest/postbuild-task.hpi http://hudson-ci.org/download/plugins/postbuild-task/1.7/postbuild-task.hpi
Redirect 302 /latest/powershell.hpi http://hudson-ci.org/download/plugins/powershell/1.2/powershell.hpi
Redirect 302 /latest/promoted-builds.hpi http://hudson-ci.org/download/plugins/promoted-builds/1.9/promoted-builds.hpi
Redirect 302 /latest/promoted-builds-simple.hpi http://hudson-ci.org/download/plugins/promoted-builds-simple/1.6/promoted-builds-simple.hpi
Redirect 302 /latest/pvcs_scm.hpi http://hudson-ci.org/download/plugins/pvcs_scm/1.0/pvcs_scm.hpi
Redirect 302 /latest/pxe.hpi http://hudson-ci.org/download/plugins/pxe/1.5/pxe.hpi
Redirect 302 /latest/python.hpi http://hudson-ci.org/download/plugins/python/1.1/python.hpi
Redirect 302 /latest/rad-builder.hpi http://hudson-ci.org/download/plugins/rad-builder/1.1.2/rad-builder.hpi
Redirect 302 /latest/radiatorviewplugin.hpi http://hudson-ci.org/download/plugins/radiatorviewplugin/1.9/radiatorviewplugin.hpi
Redirect 302 /latest/rake.hpi http://hudson-ci.org/download/plugins/rake/1.6.3/rake.hpi
Redirect 302 /latest/redmine.hpi http://hudson-ci.org/download/plugins/redmine/0.8/redmine.hpi
Redirect 302 /latest/regexemail.hpi http://hudson-ci.org/download/plugins/regexemail/0.3/regexemail.hpi
Redirect 302 /latest/release.hpi http://hudson-ci.org/download/plugins/release/1.9/release.hpi
Redirect 302 /latest/reviewboard.hpi http://hudson-ci.org/download/plugins/reviewboard/1.0.0/reviewboard.hpi
Redirect 302 /latest/ruby.hpi http://hudson-ci.org/download/plugins/ruby/1.2/ruby.hpi
Redirect 302 /latest/rubyMetrics.hpi http://hudson-ci.org/download/plugins/rubyMetrics/1.4/rubyMetrics.hpi
Redirect 302 /latest/sauce-ondemand.hpi http://hudson-ci.org/download/plugins/sauce-ondemand/1.2/sauce-ondemand.hpi
Redirect 302 /latest/schedule-failed-builds.hpi http://hudson-ci.org/download/plugins/schedule-failed-builds/1.1/schedule-failed-builds.hpi
Redirect 302 /latest/scis-ad.hpi http://hudson-ci.org/download/plugins/scis-ad/1.2/scis-ad.hpi
Redirect 302 /latest/scons.hpi http://hudson-ci.org/download/plugins/scons/0.2/scons.hpi
Redirect 302 /latest/scp.hpi http://hudson-ci.org/download/plugins/scp/1.6/scp.hpi
Redirect 302 /latest/screenshot.hpi http://hudson-ci.org/download/plugins/screenshot/1.1/screenshot.hpi
Redirect 302 /latest/script-realm.hpi http://hudson-ci.org/download/plugins/script-realm/1.1/script-realm.hpi
Redirect 302 /latest/secret.hpi http://hudson-ci.org/download/plugins/secret/1.6/secret.hpi
Redirect 302 /latest/sectioned-view.hpi http://hudson-ci.org/download/plugins/sectioned-view/1.11/sectioned-view.hpi
Redirect 302 /latest/selenium.hpi http://hudson-ci.org/download/plugins/selenium/1.3/selenium.hpi
Redirect 302 /latest/selenium-aes.hpi http://hudson-ci.org/download/plugins/selenium-aes/0.3/selenium-aes.hpi
Redirect 302 /latest/seleniumhq.hpi http://hudson-ci.org/download/plugins/seleniumhq/0.2/seleniumhq.hpi
Redirect 302 /latest/serenity.hpi http://hudson-ci.org/download/plugins/serenity/0.4/serenity.hpi
Redirect 302 /latest/setenv.hpi http://hudson-ci.org/download/plugins/setenv/1.1/setenv.hpi
Redirect 302 /latest/sfee.hpi http://hudson-ci.org/download/plugins/sfee/1.0.3/sfee.hpi
Redirect 302 /latest/shelve-project-plugin.hpi http://hudson-ci.org/download/plugins/shelve-project-plugin/0.3/shelve-project-plugin.hpi
Redirect 302 /latest/sidebar-link.hpi http://hudson-ci.org/download/plugins/sidebar-link/1.4/sidebar-link.hpi
Redirect 302 /latest/sitemonitor.hpi http://hudson-ci.org/download/plugins/sitemonitor/0.1/sitemonitor.hpi
Redirect 302 /latest/slave-status.hpi http://hudson-ci.org/download/plugins/slave-status/1.4/slave-status.hpi
Redirect 302 /latest/sloccount.hpi http://hudson-ci.org/download/plugins/sloccount/1.4/sloccount.hpi
Redirect 302 /latest/sonar.hpi http://hudson-ci.org/download/plugins/sonar/1.5/sonar.hpi
Redirect 302 /latest/sounds.hpi http://hudson-ci.org/download/plugins/sounds/0.2/sounds.hpi
Redirect 302 /latest/speaks.hpi http://hudson-ci.org/download/plugins/speaks/0.1.1/speaks.hpi
Redirect 302 /latest/ssh.hpi http://hudson-ci.org/download/plugins/ssh/1.1/ssh.hpi
Redirect 302 /latest/ssh-slaves.hpi http://hudson-ci.org/download/plugins/ssh-slaves/0.12/ssh-slaves.hpi
Redirect 302 /latest/staf.hpi http://hudson-ci.org/download/plugins/staf/0.1/staf.hpi
Redirect 302 /latest/starteam.hpi http://hudson-ci.org/download/plugins/starteam/0.2/starteam.hpi
Redirect 302 /latest/startup-trigger-plugin.hpi http://hudson-ci.org/download/plugins/startup-trigger-plugin/0.1/startup-trigger-plugin.hpi
Redirect 302 /latest/status-view.hpi http://hudson-ci.org/download/plugins/status-view/1.0/status-view.hpi
Redirect 302 /latest/statusmonitor.hpi http://hudson-ci.org/download/plugins/statusmonitor/1.2/statusmonitor.hpi
Redirect 302 /latest/subversion.hpi http://hudson-ci.org/download/plugins/subversion/1.17/subversion.hpi
Redirect 302 /latest/svn-release-mgr.hpi http://hudson-ci.org/download/plugins/svn-release-mgr/1.1/svn-release-mgr.hpi
Redirect 302 /latest/svn-tag.hpi http://hudson-ci.org/download/plugins/svn-tag/1.14/svn-tag.hpi
Redirect 302 /latest/svncompat13.hpi http://hudson-ci.org/download/plugins/svncompat13/1.1/svncompat13.hpi
Redirect 302 /latest/svncompat14.hpi http://hudson-ci.org/download/plugins/svncompat14/1.0/svncompat14.hpi
Redirect 302 /latest/svnpublisher.hpi http://hudson-ci.org/download/plugins/svnpublisher/0.1/svnpublisher.hpi
Redirect 302 /latest/swarm.hpi http://hudson-ci.org/download/plugins/swarm/1.3/swarm.hpi
Redirect 302 /latest/synergy.hpi http://hudson-ci.org/download/plugins/synergy/1.5/synergy.hpi
Redirect 302 /latest/systemloadaverage-monitor.hpi http://hudson-ci.org/download/plugins/systemloadaverage-monitor/1.1/systemloadaverage-monitor.hpi
Redirect 302 /latest/tasks.hpi http://hudson-ci.org/download/plugins/tasks/4.9/tasks.hpi
Redirect 302 /latest/template-project.hpi http://hudson-ci.org/download/plugins/template-project/1.2/template-project.hpi
Redirect 302 /latest/testabilityexplorer.hpi http://hudson-ci.org/download/plugins/testabilityexplorer/0.3/testabilityexplorer.hpi
Redirect 302 /latest/text-finder.hpi http://hudson-ci.org/download/plugins/text-finder/1.8/text-finder.hpi
Redirect 302 /latest/tfs.hpi http://hudson-ci.org/download/plugins/tfs/1.11/tfs.hpi
Redirect 302 /latest/throttle-concurrents.hpi http://hudson-ci.org/download/plugins/throttle-concurrents/1.0/throttle-concurrents.hpi
Redirect 302 /latest/tmpcleaner.hpi http://hudson-ci.org/download/plugins/tmpcleaner/1.0/tmpcleaner.hpi
Redirect 302 /latest/toolenv.hpi http://hudson-ci.org/download/plugins/toolenv/1.0/toolenv.hpi
Redirect 302 /latest/trac.hpi http://hudson-ci.org/download/plugins/trac/1.10/trac.hpi
Redirect 302 /latest/tracking-svn.hpi http://hudson-ci.org/download/plugins/tracking-svn/1.0/tracking-svn.hpi
Redirect 302 /latest/translation.hpi http://hudson-ci.org/download/plugins/translation/1.4/translation.hpi
Redirect 302 /latest/tuxdroid.hpi http://hudson-ci.org/download/plugins/tuxdroid/1.6/tuxdroid.hpi
Redirect 302 /latest/twitter.hpi http://hudson-ci.org/download/plugins/twitter/0.4/twitter.hpi
Redirect 302 /latest/ui-samples-plugin.hpi http://hudson-ci.org/download/plugins/ui-samples-plugin/1.363/ui-samples-plugin.hpi
Redirect 302 /latest/url-change-trigger.hpi http://hudson-ci.org/download/plugins/url-change-trigger/1.2/url-change-trigger.hpi
Redirect 302 /latest/utplsql.hpi http://hudson-ci.org/download/plugins/utplsql/0.3/utplsql.hpi
Redirect 302 /latest/validating-string-parameter.hpi http://hudson-ci.org/download/plugins/validating-string-parameter/1.3/validating-string-parameter.hpi
Redirect 302 /latest/versionnumber.hpi http://hudson-ci.org/download/plugins/versionnumber/1.3.1/versionnumber.hpi
Redirect 302 /latest/view-job-filters.hpi http://hudson-ci.org/download/plugins/view-job-filters/1.0/view-job-filters.hpi
Redirect 302 /latest/viewVC.hpi http://hudson-ci.org/download/plugins/viewVC/1.3/viewVC.hpi
Redirect 302 /latest/violations.hpi http://hudson-ci.org/download/plugins/violations/0.7.5/violations.hpi
Redirect 302 /latest/virtualbox.hpi http://hudson-ci.org/download/plugins/virtualbox/0.2.1/virtualbox.hpi
Redirect 302 /latest/vmware.hpi http://hudson-ci.org/download/plugins/vmware/0.8/vmware.hpi
Redirect 302 /latest/vss.hpi http://hudson-ci.org/download/plugins/vss/1.7/vss.hpi
Redirect 302 /latest/warnings.hpi http://hudson-ci.org/download/plugins/warnings/3.7/warnings.hpi
Redirect 302 /latest/was-builder.hpi http://hudson-ci.org/download/plugins/was-builder/1.5/was-builder.hpi
Redirect 302 /latest/webtestpresenter.hpi http://hudson-ci.org/download/plugins/webtestpresenter/0.23/webtestpresenter.hpi
Redirect 302 /latest/windmill.hpi http://hudson-ci.org/download/plugins/windmill/1.5/windmill.hpi
Redirect 302 /latest/xfpanel.hpi http://hudson-ci.org/download/plugins/xfpanel/1.0.8/xfpanel.hpi
Redirect 302 /latest/xshell.hpi http://hudson-ci.org/download/plugins/xshell/0.3/xshell.hpi
Redirect 302 /latest/xunit.hpi http://hudson-ci.org/download/plugins/xunit/0.6.1/xunit.hpi
Redirect 302 /latest/xvnc.hpi http://hudson-ci.org/download/plugins/xvnc/1.9/xvnc.hpi
Redirect 302 /latest/zentimestamp.hpi http://hudson-ci.org/download/plugins/zentimestamp/2.0/zentimestamp.hpi
