# this directory serves http://hudson-ci.org/

# this is the destination for the scis-ad plugin
Redirect 302 /scis http://wiki.hudson-ci.org/display/HUDSON/Commercial+Support

# redirection to FishEye
#   this involves query strings, so "RedirectMatch" won't work.
#   RewriteRule path is relative from this directory
RewriteEngine on
RewriteRule commit/(.+)$ http://fisheye.hudson-ci.org/changelog/Hudson/?cs=$1 [last]
RewriteRule issue/(.+)$ http://issues.hudson-ci.org/browse/HUDSON-$1 [last]

# 100 paper cut URL
Redirect 302 /100papercuts https://hudson.dev.java.net/issues/buglist.cgi?component=hudson&issue_status=NEW&issue_status=STARTED&issue_status=REOPENED&version=current&email1=&emailtype1=exact&emailassigned_to1=1&email2=&emailtype2=exact&emailreporter2=1&issueidtype=include&issue_id=&changedin=&votes=&chfieldfrom=&chfieldto=&chfieldvalue=&short_desc=&short_desc_type=fulltext&long_desc=&long_desc_type=fulltext&issue_file_loc=&issue_file_loc_type=fulltext&status_whiteboard=&status_whiteboard_type=fulltext&field0-0-0=status_whiteboard&type0-0-0=substring&value0-0-0=100papercuts&cmdtype=doit&order=Reuse+same+sort+as+last+time&Submit+query=Submit+query
# Options +Indexes
