# Hudson-on-Hudson pushes the latest snapshot builds here
Options +Indexes

# Actual download traffic goes to dlc.sun.com, but redirection allows us to track download counts
Redirect 302 /download/war/ http://dlc.sun.com/hudson/downloads/war/
Redirect 302 /download/plugins/ http://dlc.sun.com/hudson/downloads/plugins/
