# Hudson-on-Hudson pushes the latest snapshot builds here
Options +Indexes

# Actual download traffic goes to dlc.sun.com, but redirection allows us to track download counts
RedirectMatch 302 /download/war/(.*)\.war$ http://download.hudson-labs.org/war/$1.war
RedirectMatch 302 /download/plugins/(.*)\.hpi$ http://download.hudson-labs.org/plugins/$1.hpi
